html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  background-color: #3A6EA5;
  font-size: 11px;
  font-family: "Tahoma", Arial, sans-serif;
  overflow: hidden;
}

.window * {
  cursor: default;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.window {
  display: none;
  background-color: #D4D0C8;
  border: 1px solid #D4D0C8;
  border-right-color: #000;
  border-bottom-color: #000;
  margin: 50px;
  overflow: none;
}
.window .inner-window {
  padding: 1px;
  border: 1px solid #FFF;
  border-right-color: #808080;
  border-bottom-color: #808080;
}
.window .inner-window .title-bar {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDA4MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2E2Y2FmMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000080), color-stop(100%, #a6caf0));
  background-image: -moz-linear-gradient(left, #000080, #a6caf0);
  background-image: -webkit-linear-gradient(left, #000080, #a6caf0);
  background-image: linear-gradient(to right, #000080, #a6caf0);
  height: 14px;
  padding: 2px;
  overflow: hidden;
  margin-bottom: 1px;
}
.window .inner-window .title-bar .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  margin-top: -1px;
  float: left;
  background: url('../img/ms-icon.png?1445995018') 0 0 no-repeat;
}
.window .inner-window .title-bar .title {
  color: #FFF;
  font-weight: bold;
  height: 16px;
  margin-top: 1px;
  white-space: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.window .inner-window .title-bar .btn-container {
  float: right;
}
.window .inner-window .title-bar .btn-container .btn {
  display: inline-block;
  border: 1px solid #FFF;
  border-bottom-color: #000;
  border-right-color: #000;
  background-color: #D4D0C8;
  height: 12px;
  width: 14px;
}
.window .inner-window .title-bar .btn-container .btn .inner-btn {
  border: 1px solid #808080;
  border-top: none;
  border-left: none;
  height: 11px;
  width: 13px;
}
.window .inner-window .title-bar .btn-container .btn .inner-btn .btn-icon {
  height: 11px;
  width: 13px;
  background: url('../img/window_actions.gif?1446009438') no-repeat 0 0;
}
.window .inner-window .title-bar .btn-container .btn .inner-btn.close .btn-icon {
  background-position: -26px 0;
}
.window .inner-window .title-bar .btn-container .btn .inner-btn.maximize .btn-icon {
  background-position: -13px 0;
}
.window .inner-window .title-bar .btn-container .btn:not(.disabled):active {
  border: 1px solid #000;
  border-bottom-color: #FFF;
  border-right-color: #FFF;
}
.window .inner-window .title-bar .btn-container .btn:not(.disabled):active .inner-btn {
  border-top: 1px solid #808080;
  border-left: 1px solid #808080;
  border-bottom: none;
  border-right: none;
}
.window .inner-window .title-bar .btn-container .btn.disabled .inner-btn.close .btn-icon {
  background-position: -26px -11px;
}
.window .inner-window .title-bar .btn-container .btn.disabled .inner-btn.maximize .btn-icon {
  background-position: -13px -11px;
}
.window .inner-window .title-bar .btn-container .btn.disabled .inner-btn.minimize .btn-icon {
  background-position: 0 -11px;
}
.window .inner-window .title-bar .btn-container .btn.x-btn {
  margin-left: 2px;
}
.window .inner-window .menu-bar {
  overflow: hidden;
}
.window .inner-window .menu-bar .menu-btn {
  display: inline-block;
  text-align: center;
  height: 14px;
  padding: 2px 5px 0 5px;
  overflow: hidden;
  border: 1px solid transparent;
}
.window .inner-window .menu-bar .menu-btn:hover {
  border: 1px solid #FFF;
  border-right-color: #808080;
  border-bottom-color: #808080;
}
.window .inner-window .menu-bar .menu-btn.active, .window .inner-window .menu-bar .menu-btn:active {
  border: 1px solid #808080;
  border-right-color: #FFF;
  border-bottom-color: #FFF;
}
.window .inner-window .menu-bar .menu-btn.active .text, .window .inner-window .menu-bar .menu-btn:active .text {
  display: inline-block;
  margin: 1px -1px -1px 1px;
}
.window .inner-window .minesweeper {
  padding: 5px;
  background-color: #c0c0c0;
  border: 3px solid #FFF;
  border-bottom: none;
  border-right: none;
}
.window .inner-window .minesweeper .ms-status {
  height: 29px;
  margin-bottom: 5px;
  border: 2px solid #808080;
  border-right-color: #FFF;
  border-bottom-color: #FFF;
  padding: 4px 7px 0 5px;
  overflow: hidden;
  text-align: center;
}
.window .inner-window .minesweeper .ms-status .num-box {
  height: 23px;
  width: 39px;
  background-color: #000;
  border: 1px solid #808080;
  border-right-color: #FFF;
  border-bottom-color: #FFF;
  border-radius: 0 2px 0 2px;
}
.window .inner-window .minesweeper .ms-status .num-box .digit {
  margin: 1px 1px 0;
  background: url('../img/digits.gif?1446002438') #000 no-repeat;
  width: 11px;
  height: 21px;
  float: left;
}
.window .inner-window .minesweeper .ms-status .num-box .digit.d0 {
  background-position: -11px 0;
}
.window .inner-window .minesweeper .ms-status .num-box .digit.d1 {
  background-position: -22px 0;
}
.window .inner-window .minesweeper .ms-status .num-box .digit.d2 {
  background-position: -33px 0;
}
.window .inner-window .minesweeper .ms-status .num-box .digit.d3 {
  background-position: -44px 0;
}
.window .inner-window .minesweeper .ms-status .num-box .digit.d4 {
  background-position: -55px 0;
}
.window .inner-window .minesweeper .ms-status .num-box .digit.d5 {
  background-position: -66px 0;
}
.window .inner-window .minesweeper .ms-status .num-box .digit.d6 {
  background-position: -77px 0;
}
.window .inner-window .minesweeper .ms-status .num-box .digit.d7 {
  background-position: -88px 0;
}
.window .inner-window .minesweeper .ms-status .num-box .digit.d8 {
  background-position: -99px 0;
}
.window .inner-window .minesweeper .ms-status .num-box .digit.d9 {
  background-position: -110px 0;
}
.window .inner-window .minesweeper .ms-status .num-box#mines {
  float: left;
}
.window .inner-window .minesweeper .ms-status .num-box#time {
  float: right;
}
.window .inner-window .minesweeper .ms-status .smiley-btn {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid #808080;
  border-radius: 0 2px 0 2px;
}
.window .inner-window .minesweeper .ms-status .smiley-btn .smiley-inner {
  padding: 2px 1px 1px 2px;
  border: 2px solid #FFF;
  border-right-color: #808080;
  border-bottom-color: #808080;
}
.window .inner-window .minesweeper .ms-status .smiley-btn .smiley-inner .smiley-icon {
  height: 17px;
  width: 17px;
  background: transparent url('../img/smileys.gif?1446003849') no-repeat;
}
.window .inner-window .minesweeper .ms-status .smiley-btn .smiley-inner .smiley-icon.active {
  background-position: -17px 0;
}
.window .inner-window .minesweeper .ms-status .smiley-btn .smiley-inner .smiley-icon.dead {
  background-position: -34px 0;
}
.window .inner-window .minesweeper .ms-status .smiley-btn .smiley-inner .smiley-icon.cool {
  background-position: -51px 0;
}
.window .inner-window .minesweeper .ms-status .smiley-btn:active .smiley-inner {
  height: 17px;
  width: 17px;
  padding: 4px 2px 2px 4px;
  border: 1px solid #808080;
  border-right: none;
  border-bottom: none;
}
.window .inner-window .minesweeper .ms-status .smiley-btn:active .smiley-icon {
  background-position: 0 0 !important;
}
.window .inner-window .minesweeper .ms-grid {
  border: 3px solid #808080;
  border-right-color: #FFF;
  border-bottom-color: #FFF;
  position: relative;
}
.window .inner-window .minesweeper .ms-grid .ms-row {
  margin-bottom: -1px;
}
.window .inner-window .minesweeper .ms-grid .ms-panel {
  display: inline-block;
  background-color: #c0c0c0;
  height: 12px;
  width: 12px;
  border: 2px solid #FFF;
  border-right-color: #808080;
  border-bottom-color: #808080;
}
.window .inner-window .minesweeper .ms-grid .ms-panel:active, .window .inner-window .minesweeper .ms-grid .ms-panel.triggered {
  height: 15px;
  width: 15px;
  border: 1px solid #808080;
  border-right: none;
  border-bottom: none;
}
.window .inner-window .minesweeper .ms-grid .ms-panel.triggered {
  background-color: transparent;
}
