@import "compass/reset";
@import "compass/css3/images";
@import "compass/css3/user-interface";
$win-bg: #D4D0C8;
$border-med: #808080;

/* Sprite map offsets */
$digit-offset-x: 0;
$digit-offset-y: 0;
$digit-suboffset-x: -11px;
$tile-offset-x: 0;
$tile-offset-y: -21px;
$wa-offset-x: -64px;
$wa-offset-y: -21px;
$wa-suboffset-x: -13px;
$wa-suboffset-y: -11px;
$icnsm-offset-x: -103px;
$icnsm-offset-y: -21px;
$icnlg-offset-x: -64px;
$icnlg-offset-y: -60px;
$smi-offset-x: -64px;
$smi-offset-y: -43px;
$smi-suboffset: -17px;

body {
	background-color: #3A6EA5;
	font-size: 11px;
	font-family: "Tahoma", Arial, sans-serif;
	overflow: hidden;
	position: relative;
}

.window * {
	cursor: default;
	@include user-select(none);
}

.window {
	display: none;
	background-color: $win-bg;
	border: 1px solid $win-bg;
	border-right-color: #000;
	border-bottom-color: #000;
	overflow: none;
	position: relative;

	.inner-window {
		padding: 1px;
		border: 1px solid #FFF;
		border-right-color: $border-med;
		border-bottom-color: $border-med;

		.title-bar {
			@include background-image(linear-gradient(to right, #000080, #A6CAF0));
			height: 14px;
			padding: 2px;
			overflow: hidden;
			margin-bottom: 1px;

			.icon {
				display: inline-block;
				width: 16px;
				height: 16px;
				margin-right: 2px;
				margin-top: -1px;
				float: left;
				background: image-url("sprite.gif", false, false) $icnsm-offset-x $icnsm-offset-y no-repeat;
			}

			.title {
				color: #FFF;
				font-weight: bold;
				height: 16px;
				margin-top: 1px;
				white-space: no-wrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.btn-container {
				float: right;

				.btn {
					display: inline-block;
					border: 1px solid #FFF;
					border-bottom-color: #000;
					border-right-color: #000;
					background-color: $win-bg;
					height: 12px;
					width: 14px;

					.inner-btn {
						border: 1px solid $border-med;
						border-top: none;
						border-left: none;
						height: $wa-suboffset-y * -1;
						width: $wa-suboffset-x * -1;

						.btn-icon {
							height: $wa-suboffset-y * -1;
							width: $wa-suboffset-x * -1;
							background: image-url("sprite.gif", false, false) no-repeat $wa-offset-x $wa-offset-y;
						}
					}

					.inner-btn.close .btn-icon {
						background-position: ($wa-offset-x + ($wa-suboffset-x * 2)) $wa-offset-y;
					}

					.inner-btn.maximize .btn-icon {
						background-position: ($wa-offset-x + ($wa-suboffset-x * 1)) $wa-offset-y;
					}
				}

				.btn:not(.disabled):active {
					border: 1px solid #000;
					border-bottom-color: #FFF;
					border-right-color: #FFF;
					.inner-btn {
						border-top: 1px solid $border-med;
						border-left: 1px solid $border-med;
						border-bottom: none;
						border-right: none;
					}
				}

				.btn.disabled {
					.inner-btn.close .btn-icon {
						background-position: ($wa-offset-x + ($wa-suboffset-x * 2)) ($wa-offset-y + $wa-suboffset-y);
					}

					.inner-btn.maximize .btn-icon {
						background-position: ($wa-offset-x + ($wa-suboffset-x * 1)) ($wa-offset-y + $wa-suboffset-y);
					}

					.inner-btn.minimize .btn-icon {
						background-position: $wa-offset-x ($wa-offset-y + $wa-suboffset-y);
					}
				}

				.btn.x-btn {
					margin-left: 2px;
				}
			}
		}

		.menu-bar {
			overflow: hidden;

			.menu-btn {
				display: inline-block;
				text-align: center;
				height: 14px;
				padding: 2px 5px 0 5px;
				overflow: hidden;
				border: 1px solid transparent;
			}

			.menu-btn:hover {
				border: 1px solid #FFF;
				border-right-color: $border-med;
				border-bottom-color: $border-med;
			}

			.menu-btn.active, .menu-btn:active {
				border: 1px solid $border-med;
				border-right-color: #FFF;
				border-bottom-color: #FFF;

				.text {
					display: inline-block;
					margin: 1px -1px -1px 1px;
				}
			}
		}

		.minesweeper {
			padding: 5px;
			background-color: #c0c0c0;
			border: 3px solid #FFF;
			border-bottom: none;
			border-right: none;

			.ms-status {
				height: 29px;
				margin-bottom: 5px;
				border: 2px solid $border-med;
				border-right-color: #FFF;
				border-bottom-color: #FFF;
				padding: 4px 7px 0 5px;
				overflow: hidden;
				text-align: center;

				.num-box {
					height: 23px;
					width: 39px;
					background-color: #000;
					border: 1px solid $border-med;
					border-right-color: #FFF;
					border-bottom-color: #FFF;
					border-radius: 0 2px 0 2px;

					.digit {
						margin: 1px 1px 0;
						background: image-url("sprite.gif", false, false) $digit-offset-x $digit-offset-y #000 no-repeat;
						width: 11px;
						height: 21px;
						float: left;
					}

					.digit.d0 {
						background-position: ($digit-offset-x + $digit-suboffset-x) $digit-offset-y;
					}

					.digit.d1 {
						background-position: ($digit-offset-x + ($digit-suboffset-x * 2)) $digit-offset-y;
					}

					.digit.d2 {
						background-position: ($digit-offset-x + ($digit-suboffset-x * 3)) $digit-offset-y;
					}

					.digit.d3 {
						background-position: ($digit-offset-x + ($digit-suboffset-x * 4)) $digit-offset-y;
					}

					.digit.d4 {
						background-position: ($digit-offset-x + ($digit-suboffset-x * 5)) $digit-offset-y;
					}

					.digit.d5 {
						background-position: ($digit-offset-x + ($digit-suboffset-x * 6)) $digit-offset-y;
					}

					.digit.d6 {
						background-position: ($digit-offset-x + ($digit-suboffset-x * 7)) $digit-offset-y;
					}

					.digit.d7 {
						background-position: ($digit-offset-x + ($digit-suboffset-x * 8)) $digit-offset-y;
					}

					.digit.d8 {
						background-position: ($digit-offset-x + ($digit-suboffset-x * 9)) $digit-offset-y;
					}

					.digit.d9 {
						background-position: ($digit-offset-x + ($digit-suboffset-x * 10)) $digit-offset-y;
					}

					.digit.dn {
						background-position: ($digit-offset-x + ($digit-suboffset-x * 11)) $digit-offset-y;
					}
				}

				.num-box#mines {
					float: left;
				}

				.num-box#time {
					float: right;
				}

				.smiley-btn {
					display: inline-block;
					width: 24px;
					height: 24px;
					border: 1px solid $border-med;
					border-radius: 0 2px 0 2px;

					.smiley-inner {
						padding: 2px 1px 1px 2px;
						border: 2px solid #FFF;
						border-right-color: $border-med;
						border-bottom-color: $border-med;

						.smiley-icon {
							height: 17px;
							width: 17px;
							background: transparent image-url("sprite.gif", false, false) $smi-offset-x $smi-offset-y no-repeat;
						}

						.smiley-icon.active {
							background-position: ($smi-offset-x + $smi-suboffset) $smi-offset-y;
						}

						.smiley-icon.dead {
							background-position: ($smi-offset-x + ($smi-suboffset * 2)) $smi-offset-y;
						}

						.smiley-icon.cool {
							background-position: ($smi-offset-x + ($smi-suboffset * 3)) $smi-offset-y;
						}
					}
				}

				.smiley-btn:active {

					.smiley-inner {
						height: 17px;
						width: 17px;
						padding: 4px 2px 2px 4px;
						border: 1px solid $border-med;
						border-right: none;
						border-bottom: none;
					}

					.smiley-icon {
						background-position: $smi-offset-x $smi-offset-y !important;
					}
				}
			}

			.ms-grid {
				border: 3px solid $border-med;
				border-right-color: #FFF;
				border-bottom-color: #FFF;
				position: relative;

				.ms-row {
					margin-bottom: -1px;
				}

				.ms-panel {
					display: inline-block;
					background-color: #c0c0c0;
					height: 12px;
					width: 12px;
					border: 2px solid #FFF;
					border-right-color: $border-med;
					border-bottom-color: $border-med;
				}

				.ms-panel.down, .ms-panel.triggered {
					height: 15px;
					width: 15px;
					border: 1px solid $border-med;
					border-right: none;
					border-bottom: none;
				}

				.ms-panel.triggered {
					background-color: transparent;
				}

				.ms-panel.flagged, .ms-panel.marked, .ms-panel.m1, .ms-panel.m2,
				.ms-panel.m3, .ms-panel.m4, .ms-panel.m5, .ms-panel.m6, .ms-panel.m7,
				.ms-panel.m8, .ms-panel.mine, .ms-panel.bogus {
					background-image: image-url("tiles.gif", false, false);
					background-repeat: no-repeat;
				}

				.ms-panel.m1 {
					background-position: 0 0;
				}

				.ms-panel.m2 {
					background-position: -16px 0;
				}

				.ms-panel.m3 {
					background-position: -32px 0;
				}

				.ms-panel.m4 {
					background-position: -48px 0;
				}

				.ms-panel.m5 {
					background-position: 0 -16px;
				}

				.ms-panel.m6 {
					background-position: -16px -16px;
				}

				.ms-panel.m7 {
					background-position: -32px -16px;
				}

				.ms-panel.m8 {
					background-position: -48px -16px;
				}

				.ms-panel.marked {
					background-position: 0 -48px;
				}

				.ms-panel.flagged {
					background-position: -16px -48px;
				}

				.ms-panel.mine {
					background-position: -32px -48px;
				}

				.ms-panel.bogus {
					background-position: -48px -48px;
				}

				.ms-panel.marked.triggered {
					background-position: 0 -32px;
				}

				.ms-panel.flagged.triggered {
					background-position: -16px -32px;
				}

				.ms-panel.mine.triggered {
					background-position: -32px -32px;
				}

				.ms-panel.bogus.triggered {
					background-position: -48px -32px;
				}

				.ms-panel.exploded {
					background-color: #F00;
				}
			}
		}
	}
}

.window#ms-main {
	top: 30px;
	left: 30px;
}
