@import "compass/reset";
@import "compass/css3/images";
@import "compass/css3/user-interface";
@import "compass/css3/text-shadow";

/* Common colors */
$win-bg: #D4D0C8;
$border-med: #808080;

/* Sprite map offsets */
$digit-offset-x: 0;
$digit-offset-y: 0;
$digit-suboffset-x: -11px;
$tile-offset-x: 0;
$tile-offset-y: -21px;
$tile-suboffset: -16px;
$wa-offset-x: -64px;
$wa-offset-y: -21px;
$wa-suboffset-x: -13px;
$wa-suboffset-y: -11px;
$icnsm-offset-x: -117px;
$icnsm-offset-y: -21px;
$chkmk-offset-x: -121px;
$chkmk-offset-y: -60px;
$chkmk-suboffset-y: -13px;
$icnlg-offset-x: -64px;
$icnlg-offset-y: -60px;
$smi-offset-x: -64px;
$smi-offset-y: -43px;
$smi-suboffset: -17px;

* html body, html, body {
	height: 100%;
}

body {
	background-color: #3A6EA5;
	font-size: 11px;
	font-family: "Tahoma", Arial, sans-serif;
	overflow: hidden;
	position: relative;
}

.window * {
	cursor: default;
	@include user-select(none);
}

.window {
	display: none;
	background-color: $win-bg;
	border: 1px solid $win-bg;
	border-right-color: #404040;
	border-bottom-color: #404040;
	overflow: none;
	position: absolute;

	.inner-window {
		padding: 1px;
		border: 1px solid #FFF;
		border-right-color: $border-med;
		border-bottom-color: $border-med;

		.btn-container {
			display: inline-block;
			text-align: center;
			background-color: $win-bg;
			border: 1px solid #404040;
			border-top: none;
			border-left: none;

			.btn {
				border: 1px solid #FFF;
				border-bottom-color: $border-med;
				border-right-color: $border-med;

				.inner-btn {
					border: 1px solid transparent;
					border-top: none;
					border-left: none;
					padding: 6px 0 5px 1px;
				}
			}
		}

		.btn-container:not(.disabled):active {
			border-color: #FFF;

			.btn {
				border-color: #404040;
				border-bottom-color: $win-bg;
				border-right-color: $win-bg;

				.inner-btn {
					border: 1px solid $border-med;
					border-bottom: none;
					border-right: none;
				}
			}
		}

		.title-bar {
			height: 14px;
			padding: 2px;
			overflow: hidden;
			margin-bottom: 1px;

			.icon {
				display: inline-block;
				width: 16px;
				height: 16px;
				margin-right: 2px;
				margin-top: -1px;
				float: left;
				background: image-url("sprite.gif", false, false) $icnsm-offset-x $icnsm-offset-y no-repeat;
			}

			.title {
				font-weight: bold;
				height: 16px;
				margin-top: 1px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.window-btns {
				float: right;

				.btn-container {
					.btn {
						height: 11px;
						width: 13px;

						.inner-btn {
							height: $wa-suboffset-y * -1;
							width: $wa-suboffset-x * -1;
							padding: 0;

							.btn-icon {
								height: $wa-suboffset-y * -1;
								width: $wa-suboffset-x * -1;
								background: image-url("sprite.gif", false, false) no-repeat $wa-offset-x $wa-offset-y;
							}
						}

						.inner-btn:not(.disabled.active) {
							border: none;
						}

						.inner-btn.close .btn-icon {
							background-position: ($wa-offset-x + ($wa-suboffset-x * 2)) $wa-offset-y;
						}

						.inner-btn.maximize .btn-icon {
							background-position: ($wa-offset-x + ($wa-suboffset-x * 1)) $wa-offset-y;
						}

						.inner-btn.question .btn-icon {
							background-position: ($wa-offset-x + ($wa-suboffset-x * 3)) $wa-offset-y;
						}
					}
				}

				.btn-container.disabled {
					.btn {
						.inner-btn.close .btn-icon {
							background-position: ($wa-offset-x + ($wa-suboffset-x * 2)) ($wa-offset-y + $wa-suboffset-y);
						}

						.inner-btn.maximize .btn-icon {
							background-position: ($wa-offset-x + ($wa-suboffset-x * 1)) ($wa-offset-y + $wa-suboffset-y);
						}

						.inner-btn.minimize .btn-icon {
							background-position: $wa-offset-x ($wa-offset-y + $wa-suboffset-y);
						}

						.inner-btn.question .btn-icon {
							background-position: ($wa-offset-x + ($wa-suboffset-x * 3)) ($wa-offset-y + $wa-suboffset-y);
						}
					}
				}

				.btn-container.x-btn {
					margin-left: 2px;
				}
			}
		}

		.menu-bar {
			color: $border-med;
			margin-bottom: 1px;
			position: relative;

			.menu-btn {
				display: inline-block;
				text-align: center;
				height: 14px;
				padding: 2px 5px 0 5px;
				border: 1px solid transparent;
				overflow: hidden;
			}

			.menu-btn.active, .menu-btn:active {
				border: 1px solid $border-med;
				border-right-color: #FFF;
				border-bottom-color: #FFF;

				.text {
					display: inline-block;
					margin: 1px -1px -1px 1px;
				}
			}

			.menu {
				text-align: left;
				display: none;
				position: absolute;
				background-color: $win-bg;
				border: 1px solid $win-bg;
				border-right-color: #404040;
				border-bottom-color: #404040;
				z-index: 1000;
				float: left;

				.menu-inner {
					border: 1px solid #FFF;
					border-right-color: $border-med;
					border-bottom-color: $border-med;
					padding: 1px;

					.menu-item {
						padding: 3px 41px 3px 16px;
						overflow: hidden;
						height: 11px;
						position: relative;

						.menu-text {
							margin-top: -1px;
							white-space: nowrap;
						}

						.shortcut {
							width: 30px;
							position: absolute;
							top: 2px;
							right: 0;
							float: right;
						}
					}

					.menu-item.disabled {
						color: $border-med;
					}

					.menu-item.disabled:not(.selected) {
						@include single-text-shadow(1px, 1px, 0px, 0px, #FFF);
					}

					.menu-item.selected:not(.disabled) {
						color: #FFF;
					}

					.menu-item.selected {
						background-color: #0A246A;
					}

					.menu-item.checked {
						background-image: image-url("sprite.gif", false, false);
						background-repeat: no-repeat;
						background-position: $chkmk-offset-x $chkmk-offset-y;
					}

					.menu-item.selected.checked:not(.disabled) {
						background-position: $chkmk-offset-x ($chkmk-offset-y + $chkmk-suboffset-y);
					}

					.separator-item {
						padding: 3px 0 4px;

						.separator {
							border-top: 1px solid $border-med;
							border-bottom: 1px solid #FFF;
						}
					}
				}
			}
		}

		.input-container {
			display: inline-block;
			border: 1px solid $border-med;
			border-bottom-color: #FFF;
			border-right-color: #FFF;

			input[type=text] {
				display: inline-block;
				border: 1px solid #404040;
				border-bottom-color: $win-bg;
				border-right-color: $win-bg;
				height: 13px;
				font-size: 11px;
				cursor: text;
				padding-bottom: 2px;
				padding-left: 2px;
			}
		}

		.minesweeper {
			padding: 5px;
			background-color: #c0c0c0;
			border: 3px solid #FFF;
			border-bottom: none;
			border-right: none;

			.ms-status {
				height: 29px;
				margin-bottom: 5px;
				border: 2px solid $border-med;
				border-right-color: #FFF;
				border-bottom-color: #FFF;
				padding: 4px 7px 0 5px;
				overflow: hidden;
				text-align: center;

				.num-box {
					height: 23px;
					width: 39px;
					background-color: #000;
					border: 1px solid $border-med;
					border-right-color: #FFF;
					border-bottom-color: #FFF;
					border-radius: 0 2px 0 2px;

					.digit {
						margin: 1px 1px 0;
						background: image-url("sprite.gif", false, false) $digit-offset-x $digit-offset-y #000 no-repeat;
						width: 11px;
						height: 21px;
						float: left;
					}

					.digit.d0 {
						background-position: ($digit-offset-x + $digit-suboffset-x) $digit-offset-y;
					}

					.digit.d1 {
						background-position: ($digit-offset-x + ($digit-suboffset-x * 2)) $digit-offset-y;
					}

					.digit.d2 {
						background-position: ($digit-offset-x + ($digit-suboffset-x * 3)) $digit-offset-y;
					}

					.digit.d3 {
						background-position: ($digit-offset-x + ($digit-suboffset-x * 4)) $digit-offset-y;
					}

					.digit.d4 {
						background-position: ($digit-offset-x + ($digit-suboffset-x * 5)) $digit-offset-y;
					}

					.digit.d5 {
						background-position: ($digit-offset-x + ($digit-suboffset-x * 6)) $digit-offset-y;
					}

					.digit.d6 {
						background-position: ($digit-offset-x + ($digit-suboffset-x * 7)) $digit-offset-y;
					}

					.digit.d7 {
						background-position: ($digit-offset-x + ($digit-suboffset-x * 8)) $digit-offset-y;
					}

					.digit.d8 {
						background-position: ($digit-offset-x + ($digit-suboffset-x * 9)) $digit-offset-y;
					}

					.digit.d9 {
						background-position: ($digit-offset-x + ($digit-suboffset-x * 10)) $digit-offset-y;
					}

					.digit.dn {
						background-position: ($digit-offset-x + ($digit-suboffset-x * 11)) $digit-offset-y;
					}
				}

				.num-box#mines {
					float: left;
				}

				.num-box#time {
					float: right;
				}

				.smiley-btn {
					display: inline-block;
					width: 24px;
					height: 24px;
					border: 1px solid $border-med;
					border-radius: 0 2px 0 2px;

					.smiley-inner {
						padding: 2px 1px 1px 2px;
						border: 2px solid #FFF;
						border-right-color: $border-med;
						border-bottom-color: $border-med;

						.smiley-icon {
							height: 17px;
							width: 17px;
							background: transparent image-url("sprite.gif", false, false) $smi-offset-x $smi-offset-y no-repeat;
						}

						.smiley-icon.active {
							background-position: ($smi-offset-x + $smi-suboffset) $smi-offset-y;
						}

						.smiley-icon.dead {
							background-position: ($smi-offset-x + ($smi-suboffset * 2)) $smi-offset-y;
						}

						.smiley-icon.cool {
							background-position: ($smi-offset-x + ($smi-suboffset * 3)) $smi-offset-y;
						}
					}
				}

				.smiley-btn:active {

					.smiley-inner {
						height: 17px;
						width: 17px;
						padding: 4px 2px 2px 4px;
						border: 1px solid $border-med;
						border-right: none;
						border-bottom: none;
					}

					.smiley-icon {
						background-position: $smi-offset-x $smi-offset-y !important;
					}
				}
			}

			.ms-grid {
				border: 3px solid $border-med;
				border-right-color: #FFF;
				border-bottom-color: #FFF;
				position: relative;

				.ms-row {
					margin-bottom: -1px;
				}

				.ms-panel {
					display: inline-block;
					background-color: #c0c0c0;
					height: 12px;
					width: 12px;
					border: 2px solid #FFF;
					border-right-color: $border-med;
					border-bottom-color: $border-med;
				}

				.ms-panel.down, .ms-panel.triggered {
					height: 15px;
					width: 15px;
					border: 1px solid $border-med;
					border-right: none;
					border-bottom: none;
				}

				.ms-panel.triggered {
					background-color: transparent;
				}

				.ms-panel.flagged, .ms-panel.marked, .ms-panel.m1, .ms-panel.m2,
				.ms-panel.m3, .ms-panel.m4, .ms-panel.m5, .ms-panel.m6, .ms-panel.m7,
				.ms-panel.m8, .ms-panel.mine, .ms-panel.bogus {
					background-image: image-url("sprite.gif", false, false);
					background-repeat: no-repeat;
				}

				.ms-panel.m1 {
					background-position: $tile-offset-x $tile-offset-y;
				}

				.ms-panel.m2 {
					background-position: ($tile-offset-x + $tile-suboffset) $tile-offset-y;
				}

				.ms-panel.m3 {
					background-position: ($tile-offset-x + ($tile-suboffset * 2)) $tile-offset-y;
				}

				.ms-panel.m4 {
					background-position: ($tile-offset-x + ($tile-suboffset * 3)) $tile-offset-y;
				}

				.ms-panel.m5 {
					background-position: $tile-offset-x ($tile-offset-y + $tile-suboffset);
				}

				.ms-panel.m6 {
					background-position: ($tile-offset-x + $tile-suboffset) ($tile-offset-y + $tile-suboffset);
				}

				.ms-panel.m7 {
					background-position: ($tile-offset-x + ($tile-suboffset * 2)) ($tile-offset-y + $tile-suboffset);
				}

				.ms-panel.m8 {
					background-position: ($tile-offset-x + ($tile-suboffset * 3)) ($tile-offset-y + $tile-suboffset);
				}

				.ms-panel.marked {
					background-position: $tile-offset-x ($tile-offset-y + ($tile-suboffset * 3));
				}

				.ms-panel.flagged {
					background-position: ($tile-offset-x + $tile-suboffset) ($tile-offset-y + ($tile-suboffset * 3));
				}

				.ms-panel.mine {
					background-position: ($tile-offset-x + ($tile-suboffset * 2)) ($tile-offset-y + ($tile-suboffset * 3));
				}

				.ms-panel.bogus {
					background-position: ($tile-offset-x + ($tile-suboffset * 3)) ($tile-offset-y + ($tile-suboffset * 3));
				}

				.ms-panel.marked.down {
					background-position: $tile-offset-x ($tile-offset-y + ($tile-suboffset * 2));
				}

				.ms-panel.mine.triggered {
					background-position: ($tile-offset-x + ($tile-suboffset * 2)) ($tile-offset-y + ($tile-suboffset * 2));
				}

				.ms-panel.bogus.triggered {
					background-position: ($tile-offset-x + ($tile-suboffset * 3)) ($tile-offset-y + ($tile-suboffset * 2));
				}

				.ms-panel.exploded {
					background-color: #F00;
				}
			}
		}

		.minesweeper.no-color {
			.ms-status {
				border-left-color: #000;
				border-top-color: #000;

				.num-box {
					border-color: #000;
					border-right-color: #FFF;
					border-bottom-color: #FFF;

					.digit {
						background-image: image-url("spritebw.gif", false, false);
					}
				}

				.smiley-btn {
					border-color: #000;
					border-top-width: 2px;
					border-left-width: 2px;
					width: 23px;
					height: 23px;
					background-image: image-url("bw_bg.gif", false, false);

					.smiley-inner {
						border-top-width: 1px;
						border-left-width: 1px;
						border-right-color: #000;
						border-bottom-color: #000;

						.smiley-icon {
							background-image: image-url("spritebw.gif", false, false);
						}
					}
				}

				.smiley-btn:active {
					.smiley-inner {
						border: none;
					}
				}
			}

			.ms-grid {
				background-image: image-url("bw_bg.gif", false, false);
				border-left-color: #000;
				border-top-color: #000;
				background-color: #FFF;

				.ms-panel {
					background-color: transparent;
					background-repeat: repeat;
					height: 13px;
					width: 13px;
					border-left-width: 1px;
					border-top-width: 1px;
					border-right-color: #000;
					border-bottom-color: #000;
				}

				.ms-panel.down, .ms-panel.triggered {
					height: 15px;
					width: 15px;
					border-color: #000;
					background-color: #FFF;
					border: 1px solid #000;
					border-top: none;
					border-left: none;
				}

				.ms-panel.flagged, .ms-panel.marked, .ms-panel.m1, .ms-panel.m2,
				.ms-panel.m3, .ms-panel.m4, .ms-panel.m5, .ms-panel.m6, .ms-panel.m7,
				.ms-panel.m8, .ms-panel.mine, .ms-panel.bogus, .ms-panel.exploded {
					background-image: image-url("spritebw.gif", false, false);
				}

				.ms-panel.exploded {
					background-color: #000;
					background-position: $tile-offset-x ($tile-offset-y + ($tile-suboffset * 4));
				}

				.ms-panel.exploded.down {
					background-position: ($tile-offset-x + $tile-suboffset) ($tile-offset-y + ($tile-suboffset * 4));
				}
			}
		}
	}
}

.window:not(.modal-frozen) {
	.menu-bar .menu-btn:hover {
		border: 1px solid #FFF;
		border-right-color: $border-med;
		border-bottom-color: $border-med;
	}
}

.window.open {
	display: inline-block;
}

.window:not(.focused) .title-bar, .window.focused .title-bar.blinking {
		@include background-image(linear-gradient(to right, #808080, #C0C0C0));

		.title {
			color: #D4D0C8;
		}
}

.window.focused {
	.inner-window {
		.title-bar {
			@include background-image(linear-gradient(to right, #000080, #A6CAF0));

			.title {
				color: #FFF;
			}
		}

		.menu-bar {
			color: #000;
		}

		.btn-container.active {
			border: 1px solid #000;

			.btn {
				border: 1px solid #404040;
				border-top: none;
				border-left: none;

				.inner-btn {
					border: 1px solid #FFF;
					border-bottom-color: $border-med;
					border-right-color: $border-med;
				}
			}
		}

		.btn-container.active:not(.disabled):active {
			.btn {
				border: 1px solid $border-med;

				.inner-btn {
					border: 1px solid $win-bg;
					border-right: none;
					border-bottom: none;
				}
			}
		}
	}
}

#ms-custom-board {
	.cst-form {
		margin: 34px 15px 37px;
		height: 68px;
		overflow: hidden;

		.dims {
			display: inline-block;
			margin-right: 19px;

			.row:first-of-type {
				margin-top: 0;
			}

			.row {
				margin-top: 4px;

				.label {
					display: inline-block;
					width: 45px;
					float: left;
					margin-top: 4px;
				}

				.input-container {
					input[type=text] {
						width: 31px;
					}
				}
			}
		}

		.btns {
			display: inline-block;
			float: right;
			margin-left: 3px;

			.btn-container:first-of-type {
				margin-bottom: 16px;
			}

			.btn-container {
				display: block;

				.btn {
					.inner-btn {
						width: 55px;
					}
				}
			}

			.btn-container:not(.active) .inner-btn {
			}
		}
	}
}

.window.focused .btn-container.active .btn .inner-btn {
	padding: 5px 0;
}

#ms-high-score {
	text-align: center;

	#hs-description {
		margin: 8px 0 42px;
		text-align: center;
	}

	.input-container {
		margin-bottom: 12px;
		margin-left: 18px;
		margin-right: 15px;

		input[type=text] {
			width: 110px;
		}
	}

	.btns {
		.btn-container {
			margin-bottom: 22px;

			.btn {
				.inner-btn {
					width: 49px;
				}
			}
		}
	}
}

#ms-leaderboard {
	.btns {
		margin-bottom: 13px;
		margin-left: 38px;

		.btn-container {
			.btn {
				.inner-btn {
					padding-top: 3px;
					padding-bottom: 2px;
				}
			}
		}

		.btn-container#leader_reset {
			margin-right: 56px;

			.btn {
				.inner-btn {
					width: 71px;
				}
			}
		}

		.btn-container#leader_ok {
			.btn {
				.inner-btn {
					width: 40px;
				}
			}
		}
	}

	.leader-container {
		margin: 26px 0 18px 16px;

		.row {
			margin-bottom: 4px;
		}

		.row:last-of-type {
			margin: 0;
		}

		.row {
			.category, .time, .name {
				display: inline-block;
				height: 1.05em;
				overflow: hidden;
			}

			.category {
				width: 72px;
			}

			.time {
				width: 79px;
			}

			.name {
				width: 82px;
			}
		}
	}
}
